@using YoutubeMp3Downloader.Shared.Model
@model SearchResponse

<div class="mt-5">
    @foreach (var item in Model.Items)
    {
        <div class="row mb-3">
            <div class="col-md-3">
                <img src="@item.Snippet.Thumbnails.Default.Url" />
            </div>
            <div class="col-md-6 mt-3 mt-md-0">
                <h5 class="font-weight-bold text-left">@HttpUtility.HtmlDecode(item.Snippet.Title)</h5>
                <small class="text-secondary text-left d-block">@item.Snippet.Description</small>
            </div>
            <div class="col-md-3 mt-3 mt-md-0">
                <button class="btn btn-danger download-btn" onclick="ui.index.downloadAudio('@item.Id.VideoId')">
                    Download <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-headphones" viewBox="0 0 16 16">
                        <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5z" />
                    </svg>
                </button>
            </div>
        </div>
    }
    <div class="text-center">
        <button class="btn btn-link mr-3 text-info @(@Model.PrevPageToken == null ? "disabled" : "")"
                @(Html.Raw(Model.PrevPageToken == null ? "" : $"onclick=\"ui.index.renderView('search-results','POST', {{pageToken: '{Model.PrevPageToken}'}}, 'search-input', 'api/search' )\""))>
            Prev
        </button>
        <button class="btn btn-link text-info
                @(@Model.NextPageToken == null ? "disabled" : "")" @(Html.Raw(Model.NextPageToken == null ? "" : $"onclick=\"ui.index.renderView('search-results','POST', {{pageToken: '{Model.NextPageToken}'}}, 'search-input', 'api/search' )\""))>
            Next
        </button>
    </div>
</div>